

.a-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.43)), url(./images/groom-bride.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
    color: #fff;
    text-align: center;
}

.text{
    padding: 15px;
}

.date{
    margin-top: 200px;
}
.b-container{
    background-image:linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%) ;
    background-color: #FBAB7E;
    height: 4%;
    font-weight: bold;
    text-align: center;

}

.groom-name{
    left: 30px;
    top: 30px;
    position: absolute;
    font-size: 80px;
    font-weight: lighter;
}
.mainphoto{
    margin: auto auto;
    height: 300px;
    width: 300px;
}
.bride-name{
    right: 30px;
    top: 30px;
    position: absolute;
    font-size: 80px;
    font-weight: lighter;
}

.c-conatiner{
    background-color: antiquewhite;
    height: 300px;
}