

.a-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.43)), url(./images/groom-bride.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
    color: #fff;
    text-align: center;
}

.text{
    padding: 15px;
}

.date{
    margin-top: 200px;
}
.b-container{
    background-image:linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%) ;
    background-color: #FBAB7E;
    height: 50%;
    font-weight: bold;
    text-align: center;

}

.groom-name{
    left: 30px;
    top: 30px;
    position: absolute;
    font-size: 80px;
    font-weight: lighter;
}
.mainphoto{
    margin: auto auto;
    height: 300px;
    width: 300px;
}
.bride-name{
    right: 30px;
    top: 30px;
    position: absolute;
    font-size: 80px;
    font-weight: lighter;
}

.c-conatiner{
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info{
    height: 300px;
    width: 500px;
    font-weight: bolder;
    margin-top: 60px;
    text-align: center;
    padding: 10px;
    word-spacing: 8px;
}

.img{
    height: 400px;
    width: 400px;
    margin-top: 60px;
}

.snehal-img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 0px 0px 600px 0px;
}

.d-conatiner{
    height: 450px;
    display: flex;
    justify-content: space-around;
}

.akshay-img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 0px 0px 0px 600px;
}