

.a-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.068), rgba(0, 0, 0, 0.43)), url(./images/groom-bride.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
    color: #fff;
    text-align: center;
}

.text{
    padding: 15px;
}

.date{
    margin-top: 200px;
}
.b-container{
    background-image:linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%) ;
    background-color: #FBAB7E;
    height: 50%;
    font-weight: bold;
    text-align: center;

}

.groom-name{
    left: 30px;
    top: 30px;
    position: absolute;
    font-size: 80px;
    font-weight: lighter;
}
.mainphoto{
    margin: auto auto;
    height: 300px;
    width: 300px;
}
.bride-name{
    right: 30px;
    top: 30px;
    position: absolute;
    font-size: 80px;
    font-weight: lighter;
}

.c-conatiner{
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info{
    height: 300px;
    width: 500px;
    font-weight: bolder;
    margin-top: 60px;
    text-align: center;
    padding: 10px;
    word-spacing: 8px;
}

.img{
    height: 400px;
    width: 400px;
    margin-top: 60px;
}

.snehal-img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 0px 0px 600px 0px;
}

.d-conatiner{
    height: 450px;
    display: flex;
    justify-content: space-around;
}

.akshay-img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 0px 0px 0px 600px;
}

.e-conatiner{
    background-color: brown;
    height: 400px;

}
.haldi-container{
    height: 390px;
    background-color: cadetblue;
    width: 50%;
    text-align: center;
    background-image: url(./images/haldi-content.jpg);
    background-repeat: no-repeat;
    background-size: 770px 400px ;
}

.shadi-container{
    height: 390px;
    background-color: rgb(64, 71, 173);
    width: 50%;
    text-align: center;
    background-image: url(./images/wedding.jpg);
    background-repeat: no-repeat;
    background-size: 770px 400px ;
    margin-bottom: 90px;
}

.h-date{
    line-height: 53px;
}

.sim-div{
    background-color: rgb(0, 0, 0);
    height: 110px;
    align-items: center;
    text-align: center;
}

.f-container{
  justify-content: space-around;
  height: 50px;
  border: none;
  margin-bottom: 50px;
 
}

.call-btn{
    background-color: gray;
    border-radius: 5px;
    border: none;
    height: 34px;
    color: white;
}

.whatapp-btn{
    background-color: green;
    border-radius: 5px;
    border: none;
    height: 34px;
    color: white;
}

.sehnai{
    width: 50px;
    position: fixed;
    bottom: 5px ;
    right: 5px;
    font-size: 25px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    border: orange solid 1px;
    background-color: rgb(169, 203, 240);
}
.bounce2 {
    animation: bounce2 2s ease infinite;
  }
  @keyframes bounce2 {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }
  
  